# Runtime and logs
conky-runtime/
kodachi-look.log
monitor-signature
template-signature
home/
usr/

# Generated overlay state
.countfile
.eeds-*
BandSatus
HWID
Memused
autologinstatus
boottype
btcdonation
btcprice
cupsstatus
forcefonts
forcetempdns
hddencrypted
healthsactionstatus
intfused
iptypeletter
ipv6status
netCurrentStatus
newversionalert
nuked
openfiles
persistent
randomDomain
securitymodel
securityscore
swapcrypt
torblock14
torifysystemstatus
toronvpn
totalswaps
tvpnbandwidth
version
vpnattributes
vpntype
vpnufwstatus
xmrprice

# DNS cache/state written by the script
dns/autodnscrypt
dns/dns1
dns/dns4
